<nav class="breadcrumbs" aria-label="Breadcrumb">
  <ol class="breadcrumbs__list" id="breadcrumbs_list" >
    {%- if template.name == 'index' -%}
      <li aria-current="page" id="breadcrumb-text" style="list-style: none;" >Home</li>
    {%- endif -%}
    {%- if template.name == 'search' -%}
      <li aria-current="page">Search</li>
    {%- endif -%}
    {%- if template.name == '404' -%}
      <li aria-current="page" style="list-style: none;" >Page not found</li>
    {%- endif -%}
    <li><a href="{{ routes.root_url }}" id="breadcrumb-text" style="list-style: none;" >Home/</a></li>
    {%- if collection -%}
      <li>
        <a href="{{ collection.url }}" id="breadcrumb-text" >{{ collection.title }}/</a>
      </li>
    {%- endif -%}
    {%- if template.name == 'product' -%}
      <li aria-current="page" id="breadcrumb-text" style="list-style: none;" >{{ product.title }}/</li>
    {%- endif -%}
  </ol>
</nav>